.btn{
    height: 2.4em;
    min-width: 7.3em;
    color: whitesmoke;
    background-color: orange;
    border: none;
    border-radius: 0.3em;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0.5em;
    border: 1px solid orange;
}
.btn.outline{
    background-color: white;
    color: orange;
}